:root {
  color-scheme: light dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

a {
  text-decoration: none;
  color: inherit;
}

nav a.active {
  font-weight: 700;
}
